<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtYPFXOZDBxlNEFPXEl8pMXdRFaqHUV3c</string>
	<key>GCM_SENDER_ID</key>
	<string>633840494536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techTask</string>
	<key>PROJECT_ID</key>
	<string>eminokanju-oghenekparobor-task</string>
	<key>STORAGE_BUCKET</key>
	<string>eminokanju-oghenekparobor-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633840494536:ios:24efce81f1bebc0753c2fd</string>
</dict>
</plist>